<div class="row">
	<div class='col-xs-12 song-info'>
		<div class='song-name'>{{song.SongName}}</div>
		<div class='song-artist'>{{song.ArtistName}}</div>
		<div class='song-id'>{{song.SongID}}</div>
		<div class='song-artist-id'>{{song.ArtistID}}</div>
		<div class='song-image'>{{song.CoverArtFilename}}</div>
	</div>
</div>
<div class="song-btn-container">
	<button class='btn btn-warning song-btn song-btn-promote' ng-class="{'song-btn-loading': status.promote == 'loading', 'song-btn-thumbsup': status.promote == 'success'}" ng-click="addSong(song, true)">
		<div class="song-btn-status-container">
			<i class="fa fa-star">&nbsp;</i>
			<i class="fa fa-spin fa-circle-o-notch"></i>
			<i class="fa fa-thumbs-o-up"></i>
		</div>
	</button>
	<button class='btn btn-success song-btn song-btn-add' ng-class="{'song-btn-loading': status.add == 'loading', 'song-btn-thumbsup': status.add == 'success'}" ng-click="addSong(song, false)">
		<div class="song-btn-status-container">
			<i class="fa">+</i>
			<i class="fa fa-spin fa-circle-o-notch"></i>
			<i class="fa fa-thumbs-o-up"></i>
		</div>
	</button>
</div>