<div id="queue">
	<div ng-show="!queue.length">
		<div class='col-lg-12 gs-messaging'>
			<h3 class="gs-messaging">Queue Empty</h3>
			<p>Search to add a song to the queue.</p>
		</div>
	</div>
	<div ng-show="queue.length" ng-repeat="song in queue" class="material row-fluid item-song item-listitem {{song.priority}} {{song.status}} {{song.token}}">
		<div ng-show='song.status == "playing" || song.priority == "high"' class='col-lg-12 song-status'>
			<span ng-show='song.status == "playing"' class="card-title now-playing">Now Playing</span>
			<span ng-show='song.priority == "high" && song.status != "playing"' class="card-title promoted">Promoted</span>
		</div>
		<div class='col-lg-12 song-info'>
			<div class='item-status'></div>
			<div class='song-name'>{{song.title}}</div>
			<div class='song-artist'>{{song.artist}}</div>
			<div class='song-played-by'>{{song.played_by_name}}</div>
	
		</div>
	</div>
</div>