<div id="queue">
	<div ng-repeat="song in queue" class="row-fluid item_song item_listitem {{song.priority}} {{song.status}} {{song.token}}">
		<div class='col-lg-12'>
			<div class='item_status'></div>
			<div class='song_name'>{{song.title}}</div>
			<div class='song_artist'>{{song.artist}}</div>
			<div class='song_played_by'>{{song.played_by_name}}</div>
	
			<span ng-show='song.status == "playing"' class='label label-info now_playing_marker'>now playing</span>
			<span ng-show='song.priority == "high" && song.status != "playing"' class='label label-success high_priority_marker'>promoted</span>
		</div>
	</div>
</div>