<div id="search">
	<div class='row item_category item_search item_listitem'>
		<div class='col-xs-12'>
			<div>Artists</div>
		</div>
	</div>
	<div ng-repeat="artist in artists" class="row item_artist item_search item_listitem" >
		<div class='col-xs-12 songinfo' ng-click="artistSearch(artist)">
			<div class='artist_name'>{{artist.ArtistName}}</div>
		</div>
	</div>
	<div class='row item_category item_search item_listitem'>
		<div class='col-xs-12'>
			Songs
		</div>
	</div>
	<div ng-repeat="song in songs" class="row item_song item_listitem" rel="{{song.SongID}}" ng-class="{'show-options': showOptions}" ng-swipe-left="showOptions=true" ng-swipe-right="showOptions=false" ng-click="showOptions = !showOptions">
		<div song-item></div>
	</div>
</div>