<div ng-controller='SearchBoxCtrl' id="searchbox" class="row">
	<div class="navbar navbar-fixed-top nav col-lg-12">
		<div class="hamburger-container" ng-class="{'show-queue-button': searchBox.showQueueButton}">
			<a href="#/queue" class="hamburger-button">&#9835;</a>
		</div>
		<div class="search-container" ng-swipe-right="gotoQueue()" ng-swipe-left="gotoQueue()">
			<form>
				<div class="input-group">
					<input type="text" id="search-input" name="query" class="form-control input-lg" placeholder="Search" ng-model="query">
					<span class="input-group-btn">
						<i ng-click="doSearch(query)" type="submit" class="fa fa-search"></i>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>