<div id="search">
	<div class='row item-category item-search item-listitem category-artists'>
		<div class='col-xs-12'>
			<div>Artists</div>
		</div>
	</div>
	<div ng-repeat="artist in artists" class="row item-artist item-search item-listitem" >
		<div class='col-xs-12 song-info' ng-click="artistSearch(artist)">
			<div class='artist_name'>{{artist.ArtistName}}</div>
		</div>
	</div>
	<div class='row item-category item-search item-listitem category-songs'>
		<div class='col-xs-12'>
			Songs
		</div>
	</div>
	<div ng-repeat="song in songs" class="item-song item-listitem" rel="{{song.SongID}}">
		<div song-item></div>
	</div>
</div>