<div ng-controller='SearchBoxCtrl' id="searchbox" class="row">
	<div class="navbar navbar-fixed-top nav col-lg-12">
		<div class="hamburger-container" ng-class="{'show-queue-button': searchBox.showQueueButton}">
			<a href="#/queue" class="hamburger-button">&#9835;</a>
		</div>
		<div class="search-container" ng-swipe-right="gotoQueue()" ng-swipe-left="gotoQueue()">
			<form ng-submit="doSearch(query)">
				<div class="input-group">
					<input type="text" id="search_input" name="query" class="form-control input-lg" placeholder="search" ng-model="query">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default btn-lg" type="button">GO</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>