/**
 * Global
 */
body {
	background: #efefef;
	color: #000;
	font-family: "verdana";
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}
#content {
	margin-top: 61px;
}
#content_loader .col-lg-12 {
	float: none;
}
#error_message_generic {
	text-align: center;
	width: 100%;
}

/**
 * Navbar
 */
.navbar .input-group {
	margin: 8px 0;
}
.navbar {
	box-shadow: 0px 0px 5px #000;
}
.navbar #search_submit {
	border-left: none;
}

/**
 * Loader
 */
#loader {
	background: #000;
	height: 100%;
	left: 0;
	margin-top: 60px;
	opacity: 0.2;
	padding-top: 60px;
	position: absolute;
	top: 0;
	width: 100%;
}
#loader .spinner {
   animation: loading_spinner .6s infinite linear;
   -moz-animation: loading_spinner .6s infinite linear;
   -o-animation: loading_spinner .6s infinite linear;
   -webkit-animation: loading_spinner .6s infinite linear;
   border: 6px solid rgba(0,174,239,.15);
   border-radius: 100%;
   height: 60px;
   margin: 0 auto;
   position: relative;
   width: 60px;
}

#loader .spinner:before {
   border-bottom: 6px solid transparent;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   border-top: 6px solid rgba(0,174,239,.8);
   border-radius: 100%;
   content: "";
   display: block;
   height: 100%;
   left: -6px;
   position: absolute;
   top: -6px;
   width: 100%;
}

@-webkit-keyframes loading_spinner {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes loading_spinner {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes loading_spinner {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes loading_spinner {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

/**
 * Search
 */







/*
 * Footer
 */
.footer_sticky {
	background: #333;
	border-top: 0.01em solid #000;
	bottom: 0px;
	font-size: 10px;
	line-height: 2em;
	position: fixed;
	text-align: center;
	width: 100%;
}
.footer_button {
	background: #444;
	float: left;
	font-size: 10px;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0.3em 0.3em 0.3em 0.35em;
	width: 45%;
}

/**
 * Option Buttons
 */
#button_queue {
	margin: 10px 0;
	width: 100%;
}
.response_text {
	margin: 10px 0;
	width: 100%;
}
.addToQueue_cont {
	float: left;
	width: 50%
}
.addToQueue {
	margin: 10px 0;
	width: 100%;
}
.addToQueue_promote {
	margin-right: 5px;
}

.addToQueue_add {
	margin-left: 5px;
}
.moreoptions {
	height: 0;
	overflow: hidden;
	-moz-transition: height 0.5s ease-in-out;
	-ms-transition: height 0.5s ease-in-out;
	-webkit-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out;
}

/*
 * Queue / Search
 */
#search_results {
	font-size: 10px;
	text-align: center;
}
#song_list.search {
	margin-bottom: 53px;
}
#song_list .item_song {
	background: #efefef;
	border-bottom: 1px solid #999;
}
#song_list .item_song.selected {
	background: #ddd;
}
.item_song {
	height: auto;
	min-height: 70px;
	padding: 15px 0;
}
.queue_empty {
	font-size: 24px;
	margin-top: 95px;
	text-align: center;
}
.queue .item_song {
	height: auto;
}
.item_song .song_name {
	font-size: 16px;
	height: 22px;
	overflow: hidden;
	width: 100%;
}
.item_song .song_artist {
	color: #666;
	font-size: 12px;
	margin-left: 5px;
}
.item_song .song_played_by {
	color: #666;
	font-size: 10px;
	margin-left: 7px;
}
.item_song .song_id {
	display: none;
}
.item_song .item_status {
	float: right;
	border-radius: 20px;
	display: none;
	height: 40px;
	margin-top: 15px;
	width: 40px;
}
.item_song.high .item_status {
	background: #ff0000;
}
.item_song.med .item_status {
	background: #0000ff;
}
.item_song.playing .item_status {
	background: #00ff00;
}
.item_song.playing .now_playing_marker,
.item_song.high .high_priority_marker {
	bottom: 1%;
	font-size: 10px;
	position: absolute;
	right: 3%;
}

/*
 * Username Management
 */
.nickview_row {
	padding: 10px;
}
.setUser_header {
	font-size: 24px;
	margin-top: 30px;
	text-align: center;
}
.setUser_textbox,
.setUser_textbox input {
	text-align: center;
}
.nickview_submit {
	text-align: center;
}
#setUser_submit {
	text-align: center;
}

/*
 * Modal
 */
#modal {
	background: #000;
	color: #fff;
	font-size: 24px;
	height: auto;
	left: 0;
	opacity: 0;
	padding: 0;
	pointer-events: none;
	position: fixed;
	text-align: center;
	top: 47%;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	width: 100%;
}

/*
 * Clear
 */
.clearfloat {
	clear: both;
}
