body {
	background: #efefef;
	color: #000;
	font-family: "verdana";
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}
#content {
	margin-top: 61px;
}
#content_loader .col-lg-12 {
	float: none;
}
.navbar .input-group {
	margin: 8px 0;
}
.navbar {
	box-shadow: 0px 0px 5px #000;
}
#error_message_generic {
	text-align: center;
	width: 100%;
}

#addToQueue_options .btn {
	width: 100%;
}

/* Footer */
.footer_sticky {
	background: #333;
	border-top: 0.01em solid #000;
	bottom: 0px;
	font-size: 10px;
	line-height: 2em;
	position: fixed;
	text-align: center;
	width: 100%;
}
.footer_button {
	background: #444;
	float: left;
	font-size: 10px;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0.3em 0.3em 0.3em 0.35em;
	width: 45%;
}
#search_submit {
	border-left: none;
}
#search_results {
	font-size: 10px;
	text-align: center;
}
#button_queue {
	margin: 10px 0;
	width: 100%;
}
.response_text {
	margin: 10px 0;
	width: 100%;
}
.addToQueue_cont {
	float: left;
	width: 50%
}
#addToQueue_options {
	display: none;
}
#addToQueue_promote.btn,
#addToQueue_add.btn {
	margin: 10px 0;
	width: 100%;
}
#addToQueue_promote.btn {
	margin-right: 5px;
}

#addToQueue_add.btn {
	margin-left: 5px;
}

/* Queue */
#song_list .item_song {
	background: #efefef;
	border-bottom: 1px solid #000;
}
#song_list .item_song.selected {
	background: #ddd;
}
.item_song {
	padding: 15px 0;
}
.item_song .song_name {
	font-size: 16px;
}
.item_song .song_artist {
	color: #666;
	font-size: 12px;
	margin-left: 5px;
}
.item_song .song_played_by {
	color: #666;
	font-size: 10px;
	margin-left: 7px;
}
.item_song .song_id {
	display: none;
}
.item_song .item_status {
	float: right;
	border-radius: 20px;
	display: none;
	height: 40px;
	margin-top: 15px;
	width: 40px;
}
.item_song.high .item_status {
	background: #ff0000;
}
.item_song.med .item_status {
	background: #0000ff;
}
.item_song.playing .item_status {
	background: #00ff00;
}
.item_song.playing .now_playing_marker,
.item_song.high .high_priority_marker {
	bottom: 1%;
	font-size: 10px;
	position: absolute;
	right: 3%;
}

/* Username Management */
.setUser_header {
	font-size: 10px;
	margin-top: 5em;
	text-align: center;
}
.setUser_textbox {
	background: #444;
	border: none;
	color: #ddd;
	font-size: 10px;
	margin: 10%;
	outline: none;
	padding: 0.2em 0.2em 0.2em 0.5em;
	width: 80%;
}
#setUser_submit {
	background: #444;
	border-left: 0.02em solid #222;
	color: #666;
	font-size: 10px;
	height: 1.97em;
	line-height: 2em;
	margin: 0 auto;
	text-align: center;
	width: 40%;
}

/* Modal */
#modal {
	background: #000;
	display: none;
	height: 100%;
	left: 0px;
	opacity: 0.8;
	position: fixed;
	top: 0px;
	width: 100%;
}
