.item_song .song_artist {
	font-size: 6em;
}
.item_song .song_played_by {
	font-size: 4.4em;
}
.footer_button {
	font-size: 0.7em;
	height: 2.1em;
	line-height: 2.1em;
	margin: 0.35em 0.5em 0.3em 0.35em;
}
