/**
 * Global
 */
#content {
	margin-top: 61px;
}
input {
		border-color: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		outline: none;
}

/**
 * Error Message
 */
.error-message {
	font-size: 18px;
	padding-top: 40px;
	text-align: center;
}
/**
 * Login
 */
#login #login_button {
	padding-top: 15px;
	text-align: center;
}
#login #login_button button {
	width: 80%;
}
#login .error_message {
	color: #a94442;
	font-size: 18px;
	text-align: center;
}

/**
 * Search Box
 */
#searchbox .navbar {
	background: #fff;
	box-shadow: 0px 0px 5px #000;
	padding: 0 10px;
}
#searchbox .navbar .input-group {
	margin: 8px 0;
}
#searchbox .navbar .input-group input {
	border: 1px solid #cccccc;
	box-shadow: none;
}
#searchbox .navbar button {
	border-left: none;
	height: 46px;
	margin-left: -2px;
	outline: 0;
}
#searchbox .hamburger-container {
	border-radius: 6px;
	float: left;
	height: 45px;
	margin: 8px 0;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	width: 0;
}
#searchbox .hamburger-container.show-queue-button {
	border: 1px solid #cccccc;
	margin-right: 10px;
	width: 46px;

}
#searchbox .hamburger-button {
	color: #000;
	display: block;
	font-size: 34px;
	height: 100%;
	line-height: 41px;
	padding-left: 11px;
	text-decoration: none;
	width: 100%;
}

/**
 * Queue
 */
#queue .item_listitem {
	background: #efefef;
	border-bottom: 1px solid #999;
	height: auto;
	min-height: 70px;
	padding: 15px 0;
}
#queue .item_listitem {
	height: auto;
}
#queue .item_artist .artist_name {
	font-size: 20px;
	line-height: 39px;
	overflow: hidden;
	width: 100%;
}
#queue .item_song .song_name {
	font-size: 16px;
	height: 22px;
	overflow: hidden;
	width: 100%;
}
#queue .item_song .song_artist {
	color: #666;
	font-size: 12px;
	margin-left: 5px;
}
#queue .item_song .song_played_by {
	color: #666;
	font-size: 10px;
	margin-left: 7px;
}
#queue .item_song .item_status {
	float: right;
	border-radius: 20px;
	display: none;
	height: 40px;
	margin-top: 15px;
	width: 40px;
}
#queue .item_song.high .item_status {
	background: #ff0000;
}
#queue .item_song.med .item_status {
	background: #0000ff;
}
#queue .item_song.playing .item_status {
	background: #00ff00;
}
#queue .item_song.playing .now_playing_marker,
#queue .item_song.high .high_priority_marker {
	bottom: 1%;
	font-size: 10px;
	position: absolute;
	right: 3%;
}

/**
 * Search
 */
#search {
	font-size: 10px;
	overflow: hidden;
}
#search .item_listitem.selected {
	background: #ddd;
}
#search .item_listitem {
	background: #efefef;
	border-bottom: 1px solid #999;
	height: auto;
	min-height: 70px;
	padding: 15px;
}
#search .item_category {
	background: #ddd;
	font-size: 26px;
	min-height: 0;
	padding: 5px 0;
	text-align: center;
}
#search .item_artist .artist_name {
	font-size: 20px;
	line-height: 39px;
	overflow: hidden;
	width: 100%;
}
#search .item_artist .artist_id {
	display: none;
}
#search .item_song .song_name {
	font-size: 16px;
	height: 22px;
	overflow: hidden;
	width: 100%;
}
#search .item_song .song_artist {
	color: #666;
	font-size: 12px;
	margin-left: 5px;
}
#search .item_song .song_artist_id {
	display: none;
}
#search .item_song .song_image {
	display: none;
}
#search .item_song .song_id {
	display: none;
}
#search .col-xs-3 button {
	margin-top: 3px;
	width: 100%;
}

#search .item_song {
	padding-right: 6px;
	-webkit-transition: margin-left 0.3s ease-out;
	-moz-transition: margin-left 0.3s ease-out;
	-o-transition: margin-left 0.3s ease-out;
	transition: margin-left 0.3s ease-out;
	width: 200%;
}
#search .item_song.show-options {
	margin-left: -100%;
}


/**
 * Loader
 */
#loader {
	font-size: 10px;
	height: 30px;
	margin: 100px auto;
	text-align: center;
	width: 50px;
}
#loader > div {
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
	background-color: #333;
	display: inline-block;
	height: 100%;
	width: 6px;
}
#loader .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
#loader .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
#loader .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
#loader .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4)
	}	
	20% {
		-webkit-transform: scaleY(1.0)
	}
}
@keyframes stretchdelay {
	0%, 40%, 100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}
	20% {
		-webkit-transform: scaleY(1.0);
		transform: scaleY(1.0);
	}
}